<section id="home">
    
    <section class="container flex wrap ">
      <img src="images/ladyhworld.jpeg" alt="Lady H Society's world" class="banner-image">
      <div class="center-text main-title"><h1><span>{{{__ "home.mainTitle"}}}</span></h1></div>
      <a href="#story" class="low-arrow icon-container">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </a>
    </section>

  <section id="story" class="header-intro main-section green">
    <div>
      <p class="catchphrase">{{{__ "home.welcome"}}}</p>  
    </div>
    <div>
      <p>{{{__ "home.intro.1"}}}</p>
      <p>{{{__ "home.intro.2"}}}</p>
      <p>{{{__ "home.intro.3"}}}</p>
    </div>
    <a id="blackarrowfar" href="#home-call-to-actions" class="icon-container">
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </a>
    <div>
  </section>



  <section id="home-call-to-actions" class="main-section">
    <div id="actions" class="actions">
      <div class="action action-1" style="background: #FFBE1C;">
        <h2 class="hero-title">{{{__ "home.callToAction.2.call"}}}</h2>
        <a href="/mission" class="button black-button"
          target="blank">{{{__ "home.callToAction.2.name"}}}
        </a>
      </div>
      <div class="action action-2" style="background: #E1FF75;">
        <h2 class="hero-title">{{{__ "home.callToAction.1.call"}}}</h2>
        <a href="/manifeste" class="button black-button"
            target="blank">{{{__ "home.callToAction.1.name"}}}
        </a>
      </div>
      <div class="action action-3" style="background: #ABF382;">
        <p class="hero-subtitle">{{{__ "home.callToAction.3.subtitle"}}}</p>
      </div>
      <div class="action action-4" style="background: #ABF382;">
        <h2 class="hero-title">{{{__ "home.callToAction.3.call"}}}</h2>  
        <a href="/contact" class="button black-button"
           target="blank">{{{__ "home.callToAction.3.name"}}}
        </a>
      </div>
  </section>
    
    

</section>