<section id="manifeste">
  <section class="container flex wrap">
    <header class="header-intro">
      <div class="center-text main-title"><h1><span>{{{__
              "manifeste.mainTitle"
            }}}</span></h1></div>
      <p class="catchphrase">{{{__ "manifeste.subtitle"}}}</p>
      <a href="#graph_intro" class="icon-container">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </a>
    </header>
  </section>

  <section id="graph_intro" class="main-section">
    <h2 class="hero-title">{{{__ "manifeste.title.1"}}}</h2>
    <p class="main-paragraph">{{{__ "manifeste.intro.1"}}}</p>
    <p class="main-paragraph">{{{__ "manifeste.intro.2"}}}</p>
    <p class="main-paragraph">{{{__ "manifeste.intro.3"}}}</p>
    <p class="main-paragraph">{{{__ "manifeste.intro.4"}}}</p>
    <p class="main-paragraph">{{{__ "manifeste.intro.5"}}}</p>
  </section>

  <section id="graph" class="main-section">
    <div
      class="flourish-embed flourish-network"
      data-src="{{{__ 'manifeste.flourish'}}}"
    ><script
        src="https://public.flourish.studio/resources/embed.js"
      ></script></div>
  </section>

  <section id="videos" class="main-section">
    <h2 class="hero-title">{{{__ "manifeste.title.2"}}}</h2>
    <p class="hero-subtitle">{{{__ "manifeste.links"}}}
      {{{__ "manifeste.description.1"}}}
    </p>
    <ol>
      <li>
        <p>{{{__ "manifeste.description.2"}}}</p>
      </li>
      <li>
        <p>{{{__ "manifeste.description.3"}}}</p>
      </li>
      <li>
        <p>{{{__ "manifeste.description.4"}}}</p>
      </li>
    </ol>
  </section>
</section>