<section id="manifeste">

  <section class="container flex wrap ">
      <img src="images/ladyhworld.jpeg" alt="Lady H Society's world" class="banner-image">
      <div class="center-text main-title"><h1><span>{{{__ "manifeste.mainTitle"}}}</span></h1></div>
      <a href="#graph" class="low-arrow icon-container">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </a>
  </section>

    

  <section id="graph" class="header-intro main-section" style="background:#C7F5DE;">
    <div>
      <p class="catchphrase">{{{__ "manifeste.1.subtitle"}}}</p>  
    </div>
    <div>
      <p>{{{__ "manifeste.1.intro.1"}}}</p>
      <p>{{{__ "manifeste.1.intro.2"}}}</p>
      <p>{{{__ "manifeste.1.intro.3"}}}</p>
      <p>{{{__ "manifeste.1.intro.4"}}}</p>
    </div>
    <div class="flourish-embed flourish-network" data-src="{{{__ "manifeste.1.flourish"}}}"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
  </section>
  <section id="graph" class="header-intro main-section" style="background:#C7F5DE;">  
     <div>
      <p class="catchphrase">{{{__ "manifeste.2.subtitle"}}}</p>  
    </div>
    <div>
      <p>{{{__ "manifeste.2.intro"}}}</p>
    </div>
    <div class="flourish-embed flourish-network" data-src="{{{__ "manifeste.2.flourish"}}}"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
  </section>



</section>