<section id="manifeste" style="background: #C7F5DE">

  <section class="container flex wrap ">
      <img src="images/ladyhworld_dark.jpeg" alt="Lady H Society's world" class="banner-image">
      <header class="header-intro">
        <div class="center-text main-title"><h1><span>{{{__ "manifeste.mainTitle"}}}</span></h1></div>
        <p class="catchphrase">{{{__ "manifeste.subtitle"}}}</p>
        <a href="#graph_intro" class="icon-container">
         <i class="fa fa-chevron-down" aria-hidden="true"></i>
       </a>
      </header>
  </section>  

  <section id="graph_intro" class="graph-intro main-section" >
      <h2 class="hero-title">{{{__ "manifeste.title.1"}}}</h2>
      <p class="hero-subtitle">{{{__ "manifeste.intro.1"}}}</p>  
  </section>

  <section id="graph" class = "main-section" style="background:white;">
    <div class="flourish-embed flourish-network" data-src="{{{__ "manifeste.flourish"}}}"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
  </section>

  <section id = "links" class = "main-section content-list ">
    <h2 class="hero-title">{{{__ "manifeste.title.2"}}}</h2>
    <p class="hero-subtitle">{{{__ "manifeste.links"}}} {{{__ "manifeste.intro.5"}}} </p>
    <ol>
      <li>
        <h2>{{{__ "manifeste.intro.2"}}}</h2>
      </li>
      <li>
        <h2>{{{__ "manifeste.intro.3"}}}</h2>
      </li>
      <li>
        <h2>{{{__ "manifeste.intro.4"}}}</h2>
      </li>
    </ol>
  </section>
</section>