<section id="mission">
  <section class="container flex wrap">
    <header class="header-intro">
      <div class="center-text main-title"><h1><span>{{{__
              "mission.mainTitle"
            }}}</span></h1></div>
      <p class="catchphrase">{{{__ "mission.subtitle"}}}</p>
      <div class = "buttons-panel">
        <a href="#objectives" class="icon-container">
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a>
        <a class="button text-button" href="#people">{{{__ "mission.team"}}}</a>
      </div>
    </header>
  </section>

  <section id="objectives" class="flex wrap main-section">
    <h2 class="hero-title">{{{__ "mission.obj.title.1"}}}</h2>
    <p class="main-paragraph">{{{__ "mission.obj.intro"}}}</p>
    <h2 class="hero-title">{{{__ "mission.obj.title.2"}}}</h2>
    <ol>
      <li>
        <p>{{{__ "mission.obj.content.1"}}}</p>
      </li>
      <li>
        <p>{{{__ "mission.obj.content.2"}}}</p>
      </li>
      <li>
        <p>{{{__ "mission.obj.content.3"}}}</p>
      </li>
      <li>
        <p>{{{__ "mission.obj.content.4"}}}</p>
      </li>
    </ol>
    <div class="final-button">
      <a href="/workshops" class="black-button button" target="blank">{{{__
          "mission.workshops"
        }}}
      </a>
    </div>
  </section>
{{!-- {{
  <section id="origin" class="main-section">
    <h2 class="hero-title">{{{__ "mission.comic.title"}}}</h2>
    <p class="hero-subtitle">{{{__ "mission.comic.subtitle"}}}</p>
    <div id="comic" class="comic">
      <div class="comic-item-small comic-item">
        <img
          src="/images/{{{__ 'mission.comic.1'}}}.svg"
          alt="comic of intro to manifesto 1"
        />
      </div>
      <div class="comic-item-small comic-item">
        <img
          src="/images/{{{__ 'mission.comic.2'}}}.svg"
          alt="comic of intro to manifesto 2"
        />
      </div>
      <div class="comic-item-small comic-item">
        <img
          src="/images/{{{__ 'mission.comic.3'}}}.svg"
          alt="comic of intro to manifesto 3"
        />
      </div>
      <div class="comic-item-small comic-item">
        <img
          src="/images/{{{__ 'mission.comic.4'}}}.svg"
          alt="comic of intro to manifesto 4"
        />
      </div>
      <div class="comic-item-big comic-item">
        <img
          src="/images/{{{__ 'mission.comic.5'}}}.svg"
          alt="comic of intro to manifesto 5"
        />
      </div>
    </div>
    <div class="final-button">
      <a href="/manifeste" class="black-button button" target="blank">{{{__
          "mission.continue"
        }}}
      </a>
    </div>
  </section>
}} --}}
  <section id="people" class="main-section">
    <h2 class="hero-title">{{{__ "team.mainTitle"}}}</h2>
    <div class="team-list">
      <ol>
        <li>
          <p class="hero-subtitle">{{{__ "team.asso"}}}</p>
        </li>
        <li>
          <p>{{{__ "team.1"}}}</p>
          <p class="hero-subtitle">Léa Ikkache</p>
        </li>
        <li>
          <p>{{{__ "team.2"}}}</p>
          <p class="hero-subtitle">Maxime Buard, Chris Chauveau & Alexandre Matthewman</p>
        </li>
        <li>
          <p>{{{__ "team.3"}}}</p>
          <p class="hero-subtitle">Cibee Kamara de <a href = "http://www.latchi.fr/" target = "_blank">Latchi</a></p>
        </li>
      </ol>
    </div>
    <div class="team-list">
      <ol>
        <li>
          <p>{{{__ "team.4"}}}</p>
          <p class="hero-subtitle">Kevin Arfi, Alexia Beaujeux, Mendes Oulamara, Alice Tarras, Anthony Thomas</p>
        </li>
        <li>
          <p>{{{__ "team.5"}}}</p>
          <p class="hero-subtitle">Julie & Nicolas Ikkache Chanussot</p>
        </li>
        <li>
          <p>{{{__ "team.6"}}}</p>
          <p class="hero-subtitle">Elodie Schnitzler</p>
        </li>
      </ol>
    </div>
    <div class="team-list">
      <ol>
        <li>
          <p>{{{__ "team.7"}}}</p>
          <p class="hero-subtitle">Bibliocafé, Hugues, Louise & Aude</p>
        </li>
        <li>
          <p>{{{__ "team.8"}}}</p>
          <p class="hero-subtitle">Mendes Oulamara, Sixtine Le Bourdonnec, Samir Chtaïni</p>
        </li>
        <li>
          <p>{{{__ "team.9"}}}</p>
          <p class="hero-subtitle">Chloé Bessière</p>
        </li>
        <li>
          <a href="https://discord.gg/PQDxS5qqRS" class="black-button button" target="blank">{{{__
          "mission.discord"}}}
          </a>
        </li>
      </ol>
    </div>
  </section>

</section>