<section id="mission">
  <section class="container flex wrap">
    <header class="header-intro">
      <div class="center-text main-title"><h1><span>{{{__
              "mission.mainTitle"
            }}}</span></h1></div>
      <p class="catchphrase">{{{__ "mission.subtitle"}}}</p>
      <div class = "buttons-panel">
        <a href="#objectives" class="icon-container">
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a>
        <a class="button text-button" href="https://www.helloasso.com/associations/omg/adhesions/adhesion-a-l-association-omg" target="_blank">{{{__ "mission.team"}}}</a>
      </div>
    </header>
  </section>

  <section id="objectives" class="main-section">
    <h2 class="hero-title">{{{__ "mission.obj.title.1"}}}</h2>
    <p class="main-paragraph">{{{__ "mission.obj.intro"}}}</p>
    <h2 class="hero-title">{{{__ "mission.obj.title.2"}}}</h2>
    <ol>
      <li>
        <p>{{{__ "mission.obj.content.1"}}}</p>
      </li>
      <li>
        <p>{{{__ "mission.obj.content.2"}}}</p>
      </li>
      <li>
        <p>{{{__ "mission.obj.content.3"}}}</p>
      </li>
      <li>
        <p>{{{__ "mission.obj.content.4"}}}</p>
      </li>
    </ol>
    <div id="three_buttons" class="buttons-panel">
      <a href="#people" class="icon-container" id = "blackarrow">
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </a>
      <a href="https://www.helloasso.com/associations/omg/adhesions/adhesion-a-l-association-omg-2025-2" class="black-button button" target="blank">
        {{{__ "mission.team"}}}
      </a>
      <a href="https://discord.gg/PQDxS5qqRS" class="black-button button" target="blank">
        {{{__ "mission.discord"}}}
      </a>
    </div>
  </section>
{{!-- {{
  <section id="origin" class="main-section">
    <h2 class="hero-title">{{{__ "mission.comic.title"}}}</h2>
    <p class="hero-subtitle">{{{__ "mission.comic.subtitle"}}}</p>
    <div id="comic" class="comic">
      <div class="comic-item-small comic-item">
        <img
          src="/images/{{{__ 'mission.comic.1'}}}.svg"
          alt="comic of intro 1"
        />
      </div>
      <div class="comic-item-small comic-item">
        <img
          src="/images/{{{__ 'mission.comic.2'}}}.svg"
          alt="comic of intro 2"
        />
      </div>
      <div class="comic-item-small comic-item">
        <img
          src="/images/{{{__ 'mission.comic.3'}}}.svg"
          alt="comic of intro 3"
        />
      </div>
      <div class="comic-item-small comic-item">
        <img
          src="/images/{{{__ 'mission.comic.4'}}}.svg"
          alt="comic of intro 4"
        />
      </div>
      <div class="comic-item-big comic-item">
        <img
          src="/images/{{{__ 'mission.comic.5'}}}.svg"
          alt="comic of intro 5"
        />
      </div>
    </div>
    <div class="final-button">
      <a href="/videos" class="black-button button" target="blank">{{{__
          "mission.continue"
        }}}
      </a>
    </div>
  </section>
}} --}}
  <section id="people" class="main-section">
    <h2 class="hero-title">{{{__ "team.mainTitle"}}}</h2>
    <div class="team-list">
      <ol>
        <li>
          <p>{{{__ "team.1"}}}</p>
          <p class="hero-subtitle">Léa Ikkache</p>
        </li>
        <li>
          <p>{{{__ "team.2"}}}</p>
          <p class="hero-subtitle">Maxime Buard, Chris Chauveau, Louis Pinault, </p>
        </li>
        <li>
          <p>{{{__ "team.3"}}}</p>
          <p class="hero-subtitle">Cibee Kamara de <a href = "http://www.latchi.fr/" target = "_blank">Latchi</a></p>
        </li>
        <li>
          <a id="blackarrowfar" href="#research" class="icon-container">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </a>
        </li>
      </ol>
    </div>
    <div class="team-list">
      <ol>
        <li>
          <p>{{{__ "team.4"}}}</p>
          <p class="hero-subtitle">Kevin Arfi, Mendes Oulamara, Alice Tarras, Antoine Benassy, Anthony Thomas</p>
        </li>
        <li>
          <p>{{{__ "team.5"}}}</p>
          <p class="hero-subtitle">Julie & Nicolas Ikkache Chanussot</p>
        </li>
        <li>
          <p>{{{__ "team.6"}}}</p>
          <p class="hero-subtitle">Bibliocafé, Hugues, Louise & Aude</p>
        </li>
      </ol>
    </div>
    <div class="team-list">
      <ol>
        <li>
          <p>{{{__ "team.7"}}}</p>
          <p class="hero-subtitle">Katia Fairn De Lucas, Nicolas Brasart, Lea Nolleau, Rose Billet, Matthieu Jags, Samir Chtaïni</p>
        </li>
        <li>
          <p>{{{__ "team.8"}}}</p>
          <p class="hero-subtitle">Elodie Ikkache, Alexia Beaujeux, Sixtine Le Bourdonnec, Lola Bory*, Chloé Bessière*, Alexandre Matthewman, Association Ori, Anaïs Gastino</p>
          <p class="hero-subtitle">{{{__ "team.9"}}}</p>
        </li>
      </ol>
    </div>
  </section>
  <section id="research" class="main-section">
    <h2 class="hero-title">{{{__ "team.research.mainTitle"}}}</h2>
    <p class="hero-subtitle">{{{__ "team.research.subTitle"}}}<a href="https://esee-degrowth2024.uvigo.gal/en/the-conference/program/posters/" target="_blank">{{{__ "team.research.link"}}}</a></p>
    <a id="blackarrowfar" href="#partners" class="icon-container">
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </a>
  </section>
  <section id="partners" class="main-section">
    <h2 class="hero-title">{{{__ "team.partners.mainTitle"}}}</h2>
    <p class="hero-subtitle">{{{__ "team.partners.subTitle"}}}</p>
    <div class="grid">
      <figure class="img-cell"> <img src="/images/AF.png" alt="logo Art&Fact">
      </figure>
      <figure class="img-cell"> <img src="/images/DRAC.jpg" alt="logo DRAC Nouvelle Aquitaine">
      </figure>
      <figure class="img-cell"> <img src="/images/NelsonMandela.png" alt="logo Lycée Nelson Mandela">
      </figure>
      <figure class="img-cell"> <img src="/images/AnneFranck.png" alt="logo EREA Anne Franck">
      </figure>
      <figure class="img-cell"> <img src="/images/passculture.png" alt="logo Pass Culture">
      </figure>
      <figure class="img-cell"> <img src="/images/LDE.png" alt="logo Ligue de l'Enseignement">
      </figure>
      <figure class="img-cell"> <img src="/images/EMF.png" alt="logo Espace Mendes France">
      </figure>
      <figure class="img-cell"> <img src="/images/biodiv.png" alt="logo Chaire Biodiversité">
      </figure>
    </div>
  </section>
</section>