<section  id="mission">

    <div class="container">
      <img src="images/ladyhworld.jpeg" alt="Lady H Society's world" class="banner-image">
      <div class="center-text main-title"><h1><span>{{{__ "mission.mainTitle"}}}</span></h1></div>
      <a href="#objectives" class="low-arrow icon-container">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </a>
  </div>

<section id="objectives" class="objectives flex wrap main-section">
    <div class="left">
      <div>
        <h2 class="hero-title">{{{__ "mission.obj.title.1"}}}</h2>
        <p class="hero-subtitle">{{{__ "mission.obj.intro"}}}</p>
      </div>
      <a id="blackarrow" style="margin-top:30px;" href="#origin" class="icon-container">
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </a>
    </div>
    <div class="right obj-list">
    <div>
      <h2 class="hero-title">{{{__ "mission.obj.title.2"}}}</h2>
      </div>
    <ol>
      <li>
        <h2>{{{__ "mission.obj.content.1"}}}</h2>
      </li>
      <li>
        <h2>{{{__ "mission.obj.content.2"}}}</h2>
      </li>
      <li>
        <h2>{{{__ "mission.obj.content.3"}}}</h2>
      </li>
      <li>
        <h2>{{{__ "mission.obj.content.4"}}}</h2>
      </li>
    </ol>
    </div>
  </section>

  <section id="origin" class="main-section" >
    <h2 class="hero-title">{{{__ "mission.comic.title"}}}</h2>
    <p class="hero-subtitle">{{{__ "mission.comic.subtitle"}}}</p>
    <div id="comic" class="comic">
      <div class="comic-item-left comic-item">
        <img src="/images/{{{__ "mission.comic.1"}}}.svg" alt="comic of intro to manifesto 1">
      </div>
      <div class="comic-item-right  comic-item">
        <img src="/images/{{{__ "mission.comic.2"}}}.svg" alt="comic of intro to manifesto 2">
      </div>
      <div class="comic-item-left  comic-item">
        <img src="/images/{{{__ "mission.comic.3"}}}.svg" alt="comic of intro to manifesto 3">
      </div>
      <div class="comic-item-right  comic-item">
        <img src="/images/{{{__ "mission.comic.4"}}}.svg" alt="comic of intro to manifesto 4">
      </div>
      <div class="comic-item-center  comic-item">
        <img src="/images/{{{__ "mission.comic.5"}}}.svg" alt="comic of intro to manifesto 5">
      </div>
    </div>
  </section>

  


</section>  