<section id="team">
  <section class="container flex wrap">
    <header class="header-intro">
      <div class="center-text main-title"><h1><span>{{{__
              "team.mainTitle"
            }}}</span></h1></div>
      <a href="#people" class="icon-container">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </a>
    </header>
  </section>

  <section id="people" class="main-section">
    <div class="team-list">
      <ol>
        <li>
          <p>{{{__ "team.1"}}}</p>
          <p class="hero-subtitle">Léa Ikkache</p>
        </li>
        <li>
          <p>{{{__ "team.2"}}}</p>
          <p class="hero-subtitle">Maxime Buard, Chris Chaveau & Alexandre Matthewman</p>
        </li>
        <li>
          <p>{{{__ "team.3"}}}</p>
          <p class="hero-subtitle">Cibee Kamara de <a href = "http://www.latchi.fr/" target = "_blank">Latchi</a></p>
        </li>
      </ol>
    </div>
    <div class="team-list">
      <ol>
        <li>
          <p>{{{__ "team.4"}}}</p>
          <p class="hero-subtitle">Laurent Le Moulec, Alexia Beaujeux, Mendes Oulamara, Alice Tarras</p>
        </li>
        <li>
          <p>{{{__ "team.5"}}}</p>
          <p class="hero-subtitle">Julie & Nicolas Ikkache Chanussot</p>
        </li>
        <li>
          <p>{{{__ "team.6"}}}</p>
          <p class="hero-subtitle">Elodie Schnitzler</p>
        </li>
      </ol>
    </div>
    <div class="team-list">
      <ol>
        <li>
          <p>{{{__ "team.7"}}}</p>
          <p class="hero-subtitle">Bibliocafé, Hughues, Louise & Aude</p>
        </li>
      </ol>
    </div>
  </section>

</section>
