<section id="videos">
  <section class="container flex wrap">
    <header class="header-intro">
      <div class="center-text main-title"><h1><span>{{{__
              "videos.mainTitle"
            }}}</span></h1></div>
      <p class="catchphrase">{{{__ "videos.subtitle"}}}</p>
      <a id="blackarrowfar" href="#episode0" class="icon-container">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </a>
    </header>
  </section>
{{!-- {{
  <section id="graph_intro" class="main-section">
    <h2 class="hero-title">{{{__ "videos.title.1"}}}</h2>
    <p class="main-paragraph">{{{__ "videos.intro.1"}}}</p>
    <p class="main-paragraph">{{{__ "videos.intro.2"}}}</p>
    <p class="main-paragraph">{{{__ "videos.intro.3"}}}</p>
    <p class="main-paragraph">{{{__ "videos.intro.4"}}}</p>
  </section>
  }} --}}

  {{!--<section id="links" class="main-section">
    <h2 class="hero-title">{{{__ "videos.title.2"}}}</h2>
    <p class="hero-subtitle">
      {{{__ "videos.description.1"}}}
    </p>
    <ol>
      <li>
        <p>{{{__ "videos.description.2"}}}</p>
      </li>
      <li>
        <p>{{{__ "videos.description.3"}}}</p>
      </li>
      <li>
        <p>{{{__ "videos.description.4"}}}</p>
      </li>
    </ol>
  </section>--}}

  <section id = "episode0" class = "main-section episodes">
    <div class="episode">
      <h2 class="hero-title">{{{__ "videos.episodes.0.titre"}}}</h2>
    </div>
    <ol>
      <li>
        <p>{{{__ "videos.episodes.0.LHS"}}}</p>
      </li>
      <li>
        <p>{{{__ "videos.episodes.0.entretien"}}}</p>
      </li>
      <li>
        <p>{{{__ "videos.episodes.bibliointro"}}}</p>
        <ul class="arrow">
          <p>{{{__ "videos.episodes.0.biblio.a"}}}</li>
          <p>{{{__ "videos.episodes.0.biblio.b"}}}</li>
          <p>{{{__ "videos.episodes.0.biblio.c"}}}</li>
          <p>{{{__ "videos.episodes.0.biblio.d"}}}</li>
        </ul>
      </li>
    </ol>
    <a id="blackarrow" href="#episode1" class="icon-container">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </a>
  </section>

  <section id = "episode1" class = "main-section episodes">
    <div class="episode">
      <h2 class="hero-title">{{{__ "videos.episodes.1.titre"}}}</h2>
    </div>
    <ol>
      <li>
        <p>{{{__ "videos.episodes.1.LHS"}}}</p>
      </li>
      <li>
        <p>{{{__ "videos.episodes.1.entretien"}}}</p>
      </li>
      <li>
        <p>{{{__ "videos.episodes.bibliointro"}}}</p>
        <ul class="arrow">
          <p>{{{__ "videos.episodes.1.biblio.a"}}}</li>
        </ul>
      </li>
    </ol>
      <a id="blackarrow" href="#episode2" class="icon-container">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </a>
  </section>

  <section id = "episode2" class = "main-section episodes">
    <div class="episode">
      <h2 class="hero-title">{{{__ "videos.episodes.2.titre"}}}</h2>
    </div>
    <ol>
      <li>
        <p>{{{__ "videos.episodes.2.LHS"}}}</p>
      </li>
      <li>
        <p>{{{__ "videos.episodes.2.entretien"}}}</p>
      </li>
      <li>
        <p>{{{__ "videos.episodes.bibliointro"}}}</p>
        <ul class="arrow">
          <p>{{{__ "videos.episodes.2.biblio.a"}}}</li>
        </ul>
      </li>
    {{!! </ol>
      <a id="blackarrow" href="#episode3" class="icon-container">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </a> --}}
  </section>


</section>