<section id="workshops">
  <section class="container flex wrap">
    <header class="header-intro">
      <div class="main-title">
        <h1><span>{{{__ "workshops.mainTitle"}}}</span></h1>
      </div>
      <p class="catchphrase">{{{__ "workshops.subtitle"}}}</p>
      <div class = "buttons-panel">
        <a href="#workshopList" class="icon-container">
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a>
        <a class="button text-button" href="/contact" target = "_blank">{{{__ "contact.button"}}}</a>
      </div>
    </header>
  </section>

  <section id="workshopList" class="main-section">
    <h2 class="hero-title">{{{__ "workshops.title"}}}</h2>
    <div>
      <ol>
        <li>
          <p>{{{__ "workshops.titles.1"}}}</p>
          <p class="hero-subtitle">{{{__ "workshops.content.1"}}}</p>
        </li>
        <li>
          <p>{{{__ "workshops.titles.3"}}}</p>
          <p class="hero-subtitle">{{{__ "workshops.content.3"}}}</p>
        </li>
      </ol>
    </div>
    <div>
      <ol>
        <li>
          <p>{{{__ "workshops.titles.2"}}}</p>
          <p class="hero-subtitle">{{{__ "workshops.content.2"}}}</p>
        </li>
        <li>
          <p>{{{__ "workshops.titles.4"}}}</p>
          <p class="hero-subtitle">{{{__ "workshops.content.4"}}}</p>
        </li>
      </ol>
    </div>
      <a class="button black-button" href="https://cryptpad.fr/file/#/2/file/88gOvFDoeKB6eeeMGLSIwUOW/" target = "_blank">{{{__ "workshops.pdf"}}}</a>
  </section>

</section>
